header {
  background: linear-gradient(90deg, #ffffff 40%, rgb(165, 158, 158));
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
}
.logo-text {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header div li {
  display: inline-block;
}
header div li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 10px;
  border-radius: 3%;
}
a.active,
a:hover {
  background: rgb(87, 86, 86);
  transition: 0.5s;
}
.pagina {
  padding-top: 150px;
}
